@import url('https://fonts.cdnfonts.com/css/poppins');
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
}
.fruit-images{
    display: block;
    justify-content: space-around;
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
.veggie-images{
    display: block;
    justify-content: space-around;
    width: 300px;
    height: 250px;  
    border-radius: 10px;
}
li{
    list-style: none;
    font-size: 28px;
}

h1{
    text-align: center;
    font-size: 60px;
}

p{
    text-align: center;
    font-size: 45px;
}
#fruitmarket{
  justify-content: center;
  border-radius: 10px;
  width:85vw;
  height: 85vh;
  margin-left: 6.7%;
  box-shadow: 7px 7px 5px 7px #cb5c23;
}
#click-button{
    padding: 20px;
    border: none;
    background-color:orange;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-left: 18cm;
    margin-top: 2cm;
    width: 28vw;
    font-size: 25px;
    border-radius: 15px;
}
footer{
    font-size: 15px;
}